# We don't want to put the node_modules folder in the repo. All we need to duplicate this project is the package.json file.
**/node_modules


/Step 6 - Dynamically Filling Dropdowns and Adding a Search Box/database/db-connector.js

Step 8 - Dynamically Updating Data/database/db-connector.js
